spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${MYSQL_URL:jdbc:mysql://localhost:3306/urikkiri}
    username: ${MYSQL_USERNAME:root}
    password: ${MYSQL_PASSWORD:msua0691}

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  main:
    allow-bean-definition-overriding: true

  jackson:
    property-naming-strategy: SNAKE_CASE
    serialization:
      fail-on-empty-beans: false

  jwt:
    secretKey: ${JWT_SECRET:1234567890987654321234567890987654321234567890987654321}
    header: ${HEADER:Authorization}
    prefix: ${PREFIX:Bearer}
    accessExp: ${ACCESS_EXP:18000}

  data:
    redis:
      port: ${REDIS_PORT}
      host: ${REDIS_HOST}
      password: ${REDIS_PASSWORD}